<span class="container">
  <%= link_to 'Reply', new_comment_thread_comment_path(comment_thread_id: comment_thread.id, root: true),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-new', 'class' => 'reply-link'}  %>
  <div id="modal-window-new" class="modal hide fade" role="dialog" aria-labelledby="new-comment-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <% if is_mod or comment_thread.user_id == current_user.id %>
  <%= link_to 'Edit', edit_comment_thread_path(id: comment_thread.id, comment: comment_thread, root: true), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-edit', 'class' => 'reply-link'}  %>
  <div id="modal-window-edit" class="modal hide fade" role="dialog" aria-labelledby="edit-comment-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <span> </span>
  <%= link_to 'Delete', predestroy_comment_thread_path(id: comment_thread.id, root: true), comment: comment_thread,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-delete', 'class' => 'reply-link'}  %>
  <div id="modal-window-predestroy" class="modal hide fade" role="dialog" aria-labelledby="delete-comment-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <% end %>
</span>
